<!-- <p>user-form works!</p> -->
 <div class="card mr-4">
<div class="card-body">
<h3>{{isInEditMode ? 'Update User' : 'Add User'}}</h3>

<form [formGroup]="userForm" (ngSubmit)="onUserSubmit()" class="mr-4">
   <div class="form-group">
      <label for="userName">userName</label>
      <input formControlName="userName" type="text" class="form-control" id="userName">
   </div>
   <div class="form-group">
      <label for="userRole">UserRole</label>
      <select formControlName="userRole" type="text" class="form-control" id="userRole">
        <option value="Candidate">Candidate</option>
        <option value="Admin">Admin</option>
      </select>
   </div>
   <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary">
      {{isInEditMode ? 'Upadate User' : 'Add user'}}
   </button>
</form>
</div>
</div>