<!-- <p>auth works!</p> -->
 <div class="main">
    <div class="card p-5">
        <div clas="card-body">
            <h2>{{ allReadyHasAccount ? 'LogIn' : 'SignUp'}}</h2>
            <ng-container *ngIf="allReadyHasAccount">
                <form [formGroup]="logInForm" (ngSubmit)="onLogIn()">
                    <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" id="email" class="form-control">
                    </div>
                     <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" formControlName="password" id="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Log In</button>
                </form> 
            </ng-container>
             <ng-container *ngIf="!allReadyHasAccount">
                <form [formGroup]="SignUpForm" (ngSubmit)="onRegister()">
                    <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" id="email" class="form-control">
                    </div>
                     <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" formControlName="password" id="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="userRole">UserRole</label>
                        <select type="text" id="userRole" formControlName="userRole" class="form-control">
                            <option value="buyer">Buyer</option>
                            <option value="admin">Admin</option>
                            <option value="superAdmin">SuperAdmin</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Sign Up</button>
                </form> 
            </ng-container>
            <p class="mt-2">
                <a class="btn btn-link" href="javascript:;" (click)="allReadyHasAccount = !allReadyHasAccount" >
                    {{allReadyHasAccount ? 'Dont Have Account' : 'Already have account'}}
                </a>
            </p>
        </div>
    </div>
</div>
