<!-- <p>auth works!</p> -->
 <main class="authMain">
    <mat-card class="authCard">
        <mat-card-header>
            <mat-card-title>{{allReadyHasAccount ? 'Log In' : 'Sign Up'}}</mat-card-title>
        </mat-card-header>
  <mat-card-content>  
 <!-- sign Up -->
 <ng-container *ngIf="!allReadyHasAccount">
   <form [formGroup]="SignUpForm" (ngSubmit)="onRegister()">
      <mat-form-field appearance="outline" class="fullwidth">
         <mat-label>Email</mat-label>
         <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="fullwidth">
         <mat-label>PassWord</mat-label>
         <input matInput formControlName="password">
      </mat-form-field>
      <mat-form-field appearance="outline" class="fullwidth">
        <mat-label>User-Role</mat-label>
        <mat-select formControlName="userRole">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="buyer">Buyer</mat-option>
            <mat-option value="super-admin">Super-Admin</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" class="fullwidth">Sign-Up</button>
   </form>
 </ng-container>

 <!-- Log In -->
  <ng-container *ngIf="allReadyHasAccount">
   <form [formGroup]="logInForm" (ngSubmit)="onLogIn()">
      <mat-form-field appearance="outline" class="fullwidth">
         <mat-label>Email</mat-label>
         <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="fullwidth">
         <mat-label>PassWord</mat-label>
         <input matInput formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="accent" class="fullwidth">Log-In</button>
   </form>
  </ng-container>

  <div class="text-center mt-2">
    <a href="javascript:;" (click)="allReadyHasAccount=!allReadyHasAccount">
        {{allReadyHasAccount ? 'I Do not have an Account' :'I Already have an Account'}}
    </a>
  </div>
  </mat-card-content>
  </mat-card>
 </main>